body{
  background-color: #FFFF;
}
img {
  max-width: 300px;
}
.imagesBlock {
  width: 100%;
}
.w3-container{
  white-space: nowrap;
  text-align: center;
}
.w3-modal-content {
  max-width: 600px !important;
}
@media (max-width: 430px)  {
  img {
    max-width: 100%;
  }
  .imagesBlock {
    text-align: center;
  }

}
