body{
  background-color: #01DFD7;
}
img {
  max-width: 300px;
}
.imagesBlock {
  width: 100%;
  text-align: center;
}
.w3-container{
  white-space: nowrap
}
@media (max-width: 430px)  {
  img {
    max-width: 100%;
  }

}
